:root {
    --color-coral: #C5A059;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.pt-safe {
    padding-top: env(safe-area-inset-top);
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

.mt-safe {
    margin-top: env(safe-area-inset-top);
}